$bg_color_yellow: #7a9705;
$bg_color_green: #2bf707;


/// COLORES DE FONDO
$bg-color-blue-100: #4534ff;
$bg-color-blue-200: #2b1adc;
$bg-color-blue-300: #140a80;
$bg-color-blue-400: #080340;


/// COLORES DE FONDO
$bg-color-red-100: #ff3434;
$bg-color-red-200: #dc1a1a;
$bg-color-red-300: #800a0a;
$bg-color-red-400: #400303;