.button {
  border-radius: 3px;
  background-color: white;
  color: #611f69;
  padding: 10px;
  text-align: center;
  font-weight: 600;
  padding-top: 20px;
  padding-bottom: 20px;
  min-width: 350px;
}

.button:hover {
}

.button--blanco {
  background-color: #fff;
  color: #611f69;
  border: 1px solid #611f69;
}

.button--morado {
  background-color: #611f69;
  color: #fff;
  border: 1px solid #444;
}

.ficha3 {
  margin-top: 70px;
  background-color: #f4ede4 !important;
    display: flex;
    flex-direction: column;
    align-items: center;

  &__titulo {
    width: 100%;
    text-align: center;
    @include movil {
      font-size: 25px;
    }
    @include desktop {
      font-size: 35px;
    }
  }
}

.ficha3__elements {
  width: 90%;  
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}

.ficha3__boton {
    background-color: white;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;


  &__titulo {
    font-size: 25px;
    font-weight: 700px;
    color: black;
    margin-bottom: 40px;
    margin-top: 30px;    
  }
  &__pieImg {
    font-size: 15px;
    color: gray;
    margin-top: 20px;
    margin-bottom: 20px;

  }
}
