.button {
  border-radius: 5px;
  background-color: white;
  color: $fn-color-morado;
  padding: 10px;
  text-align: center;
  font-weight: 600;
  padding-top: 15px;
  padding-bottom: 15px;
  min-width: 350px;

}
.button--estrecho{
  min-width: 0px;
}
.button--limpio{
  background-color: transparent;
  color: black;
  border: 0px solid $fn-color-morado;
  
  
  @include movil{
    text-align: left;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  @include desktop{
    display: flex;
    justify-content: left;  
    min-width: 115px;
  }

  
}
.button--conImg{
  @include desktop{
    display: none;
  }
  @include movil{
   
  }
}


.button--blanco {
  background-color: #fff;
  color: $fn-color-morado;
  border: 1px solid $fn-color-morado;
}

.button--morado {
  background-color: $bg-color-morado;
  color: #fff;
  border: 1px solid white;
}




.ficha3__boton {
    padding: 20px;;
    background-color: white;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;


  &__titulo {
    font-size: 25px;
    font-weight: 700px;
    color: black;
    margin-bottom: 40px;
    margin-top: 30px;    
  }
  &__pieImg {
    font-size: 15px;
    color: gray;
    margin-top: 20px;
    margin-bottom: 20px;

  }
}
