$boolean: false;
* {
  margin: 0;
  padding: 0;
  text-decoration: none !important;
  list-style: none;
  font-family: Slack-Larsseit, "Helvetica Neue", Helvetica, "Segoe UI", Tahoma,
    Arial, sans-serif;
}

.svg {
  @include desktop {
    display: none;
  }
  max-height: 20px;
}

.contenedorPrincipal {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;

  @include movil {
    width: 100%;
  }
  @include desktop {
    width: 100%;
  }
}

.seccion {
  background-color: $bg-color-fondo-general;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  @include desktop{
    padding-bottom: 50px;
    min-height: 60vh;
  }
  
 
  &__pie{
    color:white;
    width: 60%;
    height: 40px;;
    text-align: justify;
    font-weight: 600;
    @include movil {
      display: none;    
    }
  }

    &__menuPrincipal {

      @include movil {
        display: none;
      }
      @include desktop {
        display: flex;
        flex-direction: row;
        justify-content:space-between;
        align-items: center;
      }
      color: white;
      width: 100%;
      padding-left: 20px;
      padding-right: 20px;      
      font-weight: 700;

      &--opciones {
        display: flex;
        flex-direction: row;
        justify-content: space-around;              
        align-items: center;
        gap: 30px;
      }
      
      &--masOpciones {            
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        gap: 30px;
      }
      
    }

  &-cabecera1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 32px;


  }
  &-hijos {
    @include movil {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      
    }
    @include desktop {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      padding: 20px;
    }

    &-hijo2 {
      display: flex;
      justify-items: center;
      align-items: center;
      img{
        max-width: 100%;                
      }
    }
    &-hijo1 {
      padding: 15px;
      font-family: Slack-Larsseit, "Helvetica Neue", Helvetica, "Segoe UI",
        Tahoma, Arial, sans-serif;
      color: white;
      display: flex;
      flex-direction: column;

      &-titulo {
        font-size: 2.75rem;
        font-weight: 700;
        padding-bottom: 20px;

        @include movil {
          text-align: center;
        }
        @include desktop {
          text-align: left;
        }
        &__resaltado {
          color: $fn-color-naranja;
        }
      }
      &-subtitulo {
        font-weight: 400;
        font-size: 1rem;

        @include movil {
          text-align: center;
        }
        @include desktop {
          text-align: left;
        }
      }



      &-pie {
        @include movil{
          display: flex;
          justify-content: center;
          margin-top: 30px;    
          width: 100%;
          align-items: center;   
        }
        @include desktop{
          display: flex;
          flex-direction: column;
          justify-content: center;
          margin-top: 30px;    
          width: 80%;
          align-items: center;   
          gap:20px;
        }

        
      }
    }
  }
}



.seccion2 {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  background-color: $bg_gris;
  padding-bottom: 20px;

  &-titulo {
    padding-top: 30px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 0.9rem;
    font-weight: 700;
  }

  &-galeria {
    padding: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    &-emp {
      max-height: 50px;
    }
  }
}
