.ficha--reverse {
  @include movil {
    display: flex;
    flex-direction: column;
  }
  @include desktop {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    justify-content: space-evenly;
  }
}

.ficha--normal {
  @include movil {
    display: flex;
    flex-direction: column;
  }
  @include desktop {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
  }
}

.ficha--fondoBlanco {
  background-color: white;
}

.ficha--fondoGris {
  background-color: #f4ede4 !important;
}

.ficha {
  &__video{
    @include movil{
      max-width: 80%;
      height: 160px;
      border-radius:0px 80px 80px 0px;
    }
   @include desktop{
    max-width: 80%;
    height: 280px;
    border-radius:0px 140px 140px 0px;
   }

  }
  &__persona {
    font-weight: 700;
  }
  &__cargo {
    font-size: 14px;
    padding-bottom: 40px;
  }
  &__parrafoFinal {
    font-size: 14px;
  }

  &__BIM {
    @include desktop {
      display: none;
    }
  }
  &__BIF {
    padding-bottom: 40px;
    @include movil {
      display: none;
    }
  }
  &__bloqueTexto {
    max-width: 600px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
  }
  &__subBloque {
    max-width: 90%;
    @include desktop {
      padding-left: 20%;
    }
  }

  &__titulo {
    padding-top: 30px;
    font-family: Slack-Larsseit, "Helvetica Neue", Helvetica, "Segoe UI", Tahoma,
      Arial, sans-serif;
    font-weight: 700;
    line-height: 1.12;
    letter-spacing: -0.8px;
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  &__cuerpo {
    font-family: Slack-Circular-Pro, "Helvetica Neue", Helvetica, "Segoe UI",
      Tahoma, Arial, sans-serif;
    font-weight: 400;
    line-height: 1.4444;
    letter-spacing: normal;
    font-size: 1.125rem;
    margin-bottom: 1rem;
  }
  &__pie {
    font-family: Slack-Circular-Pro, "Helvetica Neue", Helvetica, "Segoe UI",
      Tahoma, Arial, sans-serif;
    line-height: 1.4444;
    letter-spacing: normal;
    font-size: 1.125rem;
    display: inline-block;
    font-weight: 400;
  }
  &__parrafoFinal{
    font-size: 12px;
    text-align: center;
    padding-left: 10%;
    padding-right: 10%;
  }
}

.ficha2 {
  padding-top: 70px;
  padding-bottom: 70px;
  &__cabecera {
    text-align: center;
    @include desktop {
      font-family: Slack-Larsseit, "Helvetica Neue", Helvetica, "Segoe UI",
        Tahoma, Arial, sans-serif;
      font-weight: 700;
      line-height: 1.12;
      letter-spacing: -0.8px;
      font-size: 2rem;
      margin-bottom: 1rem;
    }
    @include movil {
      font-family: Slack-Larsseit, "Helvetica Neue", Helvetica, "Segoe UI",
        Tahoma, Arial, sans-serif;
      font-weight: 700;
      line-height: 1.1875;
      letter-spacing: -0.3px;
      margin-bottom: 1rem;
      font-size: 2rem;
    }
  }
  &__leyenda {
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    font-family: Slack-Circular-Pro, "Helvetica Neue", Helvetica, "Segoe UI",
      Tahoma, Arial, sans-serif;
    font-weight: 400;
    line-height: 1.4444;
    letter-spacing: normal;
    font-size: 1.125rem;
    margin-bottom: 1rem;
  }
  &__botones {
    width: 100%;
    padding-top: 40px;
    padding-bottom: 40px;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-evenly;
    @include movil {
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      gap: 20px;
    }
    @include desktop {
      display: inline-flex;
    }
  }
  &__pie {
    width: 100%;
    @include movil {
      display: flex;
      flex-direction: column;
    }
    @include desktop {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
    }
  }
  &__pie {
    width: 100%;
    text-align: center;
    @include movil {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    @include desktop {
      width: 100%;
      display: flex;
      justify-content: space-evenly;
    }
  }

  &__ratio {
    width: 55%;
  }
  &__valor {
    font-family: Slack-Larsseit, "Helvetica Neue", Helvetica, "Segoe UI", Tahoma,
      Arial, sans-serif;
    font-weight: 700;
    font-size: 50px;
    color: #611f69;
  }
  &__txt {
    font-size: 15px;
    min-height: 40px;
  }
}

.pieGeneral{
  &__copy{
    text-align: center;
    font-size: 12px;
  }
}

.manita{
  &__img{
    position:fixed;
    right: 10px;
    bottom: 20px;
  }
}

  .ficha4{
    padding-top: 70px;
    background-color: $bg-color-fondo-general;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    margin-bottom: 30px;;       
    border: none;
    height: auto;
    min-height: 315px;
    @include desktop{
      clip-path: ellipse(75% 100% at center top);
    }
    @include movil{
      clip-path: ellipse(105% 100% at center top);
    }
    
    
  
    
    &__botones{      
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      align-items: center;
      gap:20px;
      padding-bottom: 30px;
      &--movil{
        @include desktop{
          display: none;
        }
      }
      &--desktop{
        @include movil{
          display: none;
        }
      }


    }
    &__titulo{
      font-size: 30px;
      text-align: center;
      color: white;
      padding-bottom: 20px;;
    }
    &__img{
      width: 100%;
      min-height: 80px;      
    }

  }

.ficha3 {
  
  padding-top: 40px;
  padding-bottom: 40px;

  background-color: $bg_gris;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__titulo {
    
    text-align: center;
    padding: 20px;
    @include movil {
      font-size: 25px;
    }
    @include desktop {
      font-size: 35px;
    }
    }
  
    &__elements {
      width: 90%;
      display: flex;
      flex-direction: column;
      align-content: center;
      align-items: center;
    }
    &.ficha3__pie{
      padding-top: 30px;
    }

}
  

  .fichaFinal{
    width: 100%;

    &__redes{
      width: 100%;
      display: flex;
      @include desktop{
        justify-content:flex-end;
        padding-right: 30px;
        gap:10px
      }
      @include movil{
        justify-content:space-between; 
      }
      
    }

    &__svg{
      max-height: 150px;
      padding-left: 20px;;
    }
    &__logo{
      height: 50px;      
    }
    &__desktop{
      @include desktop{
        display: none;
      }
      
    }
    &__opciones{

    @include movil{
      display: flex;
      flex-direction: column;
      justify-content: left;
      
    }
    @include desktop{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-evenly;
    }
    }
    &__pie{      
      @include movil{
        display: flex;
        flex-direction: column;
        gap: 10px;
      }
      @include desktop{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
      }    
      
    }
    &__links{
      padding: 10px;
      font-size: 14px;
      font-weight: 700;
      color: black;

    }



    
  }
  .pieGeneral{
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;

  }

